name: Rust Test Build

on:
  push:
    branches: [ async-update ]
  pull_request:
    branches: [ async-update ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code (with submodules)
      uses: actions/checkout@v4
      with:
        submodules: recursive   
        fetch-depth: 0          

    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        override: true

    - name: Build
      uses: actions-rs/cargo@v1
      with:
        command: build
        args: --verbose
